.html,
body {
  height: 100%;
  overflow: hidden;
}

.dFlex {
  display: flex;
}

.sidebar {
  padding: 15px;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 600px;
}

.resizer {
  width: 5px;
  cursor: col-resize;
  background-color: #ccc;
}

.resizer:hover {
  background-color: #888;
}

.mainContent {
  flex-grow: 1;
  padding: 16px;
}

footer {
  height: 40px;
  flex-shrink: 0;
  background: #212529;
  color: white;
  text-align: center;
  line-height: 40px;
}